*:not('#menu') {
    padding: 0;
    margin: 0;
}
html, body {
    box-sizing: border-box;
    font-family: Arial, SansSerif;
    font-size: 14px;
    line-height: 20px;
}
body {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    display: block;
    padding: 0 20px;
}
header {
    display: block;
    width: 100%;
    margin: 20px 0;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    line-height: 34px;
}
h2 {
    text-align: center;
}
article ul {
    list-style: none;
    font-size: 12px;
}
article li {
    padding: 5px 0;
}
article li:before {
    content: '-';
    display: inline;
}
a,
a:hover,
a:visited,
a:focus,
a[href^="tel:"],
a[href^="mailto:"] {
    color: #000000;
    text-decoration: none;
}
.article__row {
    width: 100%;
    max-width: 320px;
    margin: 10px auto;
    display: block;
    position: relative;
}
.article__row:after {
    content: '';
    display: block;
    clear: both;
}
.article__col {
    display: block;
    width: 100%;
}
.article__col b,
.article__col i {
    display: block;
    padding-bottom: 5px;
}
.form {
    display: block;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    position: relative;
}
.form:after {
    content: '';
    display: block;
    clear: both;
}
.form__row {
    display: block;
    margin: 10px 0;
    position: relative;
    width: 100%;
}
.form__row:after {
    content: '';
    display: block;
    clear: both;
}
.form__col {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.form__error {
    display: none;
    color: darkred;
    width: 100%;
}
.form__col--error .form__error {
    display: block;
}
input, select {
    display: block;
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
}
input[type="checkbox"] {
    display: inline;
    width: auto;
}
input[type="submit"] {
    width: auto;
    background-color: transparent;
    border: 1px solid #000000;
    outline: none;
    padding: 5px 10px;
    cursor: pointer;
    float: right;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}
abbr[title] {
    border-bottom: none;
    text-decoration: none;
}
footer,
article > i {
    display: block;
    width: 100%;
    max-width: 320px;
    margin: 20px auto;
    font-size: 12px;
}
@media all and (min-width: 768px) {
    body {
        padding: 0;
    }
    h1 {
        text-align: right;
    }
    h2 {
        text-align: left;
    }
    .article__row {
        max-width: 100%;
        margin: 10px 0;
    }
    .article__col {
        width: 50%;
        float: left;
    }
    .form {
        max-width: 100%;
    }
    .form__col {
        padding: 0 10px;
        width: 50%;
        float: left;
        margin: 0;
    }
    .form__col--big {
        width: 100%;
    }
    footer,
    article > i {
        max-width: 100%;
    }
}
